{% extends "base.html" %} {% block title %}Main{% endblock %} {% block content %}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='upload_img_css.css') }}" />

    <div class="container mt-5">
        <div class="row g-2 mb-2">
            <div class="col-12">
                <h1 style="color:#212931;text-align: center;">Student Card</h1>
                <hr>
            </div>
            {% if raw_image is not defined %}
                <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <form action="/studentCard/upload-image" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input id="img" name="img" type="file" onchange="readURL(this);"
                                       class="form-control border-0">
                                <label id="img-label" for="img" class="font-weight-light text-muted">Choose file</label>
                                <div class="input-group-append">
                                    <label for="img" class="btn btn-light m-0 rounded-pill px-4"> <i
                                            class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                            class="text-uppercase font-weight-bold text-muted">Choose
                                        file</small></label>
                                </div>
                            </div>
                            <button class="btn btn-primary mb-2 demo uk-button uk-button-default" type="submit"
                                    id="btn-upload" disabled
                                    onclick="UIkit.notification({message: 'Please Wait for a while...'})">SCAN
                            </button>
                            <hr>
                        </div>
                    </form>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-lg-3">
                            <a class="btn btn-secondary text-white mt-2" type="submit"
                               id="btn-demo" href="/studentCard/demo-image"
                               onclick="UIkit.notification({message: 'Please Wait for a while...'})">DEMO
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <form action="/studentCard/scan-camera-image" enctype="multipart/form-data">
                            <a class="btn btn-info m-2 text-white" id="start-camera">Start Camera</a>
                            <a class="btn btn-danger m-2 text-white" id="end-camera" style="display: none;">End Camera</a>
                            <a class="btn btn-success m-2 text-white" id="click-photo" style="display: none;">Take Picture</a>
                            <button type="submit" class="btn btn-primary m-2 text-white" id="scan-photo" style="display: none;"
                            onclick="UIkit.notification({message: 'Please Wait for a while...'})">Scan Picture</button>
                            <canvas id="canvas" width="520" height="340" style="display: none;"></canvas>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <video id="video" height="340" autoplay style="display: none;"></video>
                    </div>
                    <div class="image-area">
                        <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-12">
            {% if raw_image is defined %}
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <table class="table table-hover">
                            <tbody id="detected-text">
                                <tr>
                                    <td><h5 style="text-align: center">Name:</h5></td>
                                    <td><h5 style="text-align: center">{{ final_results['Name'] }}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5 style="text-align: center">Student ID:</h5></td>
                                    <td><h5 style="text-align: center">{{ final_results['Student ID'] }}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5 style="text-align: center">Validity:</h5></td>
                                    <td><h5 style="text-align: center">{{ final_results['Validity'] }}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5 style="text-align: center">Time Taken:</h5></td>
                                    <td><h5 style="text-align: center">{{ final_results['Time Taken'] }} seconds</h5></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="text-align: center">
                                            {% if final_results['logoDetected'] == "True" %}
                                                <input type="radio" class="btn-check" name="options-outlined"
                                                       id="success-outlined"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-success" href="#logo-img" for="success-outlined">Logo
                                                    Detected</a>
                                            {% else %}
                                                <input type="radio" class="btn-check" name="options-outlined"
                                                       id="danger-outlined"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-danger" for="danger-outlined">Logo Not
                                                    Detected</a>
                                            {% endif %}
                                            {% if final_results['barcodeDetected'] == "True" %}
                                                <input type="radio" class="btn-check" name="options-outlined0"
                                                       id="success-outlined0"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-success" href="#barcode-img" for="success-outlined0">Barcode
                                                    Detected</a>
                                            {% else %}
                                                <input type="radio" class="btn-check" name="options-outlined0"
                                                       id="danger-outlined0"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-danger" for="danger-outlined0">Barcode Not
                                                    Detected</a>
                                            {% endif %}
                                            {% if final_results['faceDetected'] == "True" %}
                                                <input type="radio" class="btn-check" name="options-outlined1"
                                                       id="success-outlined1"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-success" href="#face-img" for="success-outlined1">Face
                                                    Detected</a>
                                            {% else %}
                                                <input type="radio" class="btn-check" name="options-outlined1"
                                                       id="danger-outlined1"
                                                       autocomplete="off" checked>
                                                <a class="btn btn-outline-danger" for="danger-outlined1">Face Not
                                                    Detected</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-6" style="text-align: right;">
                        <button class="btn btn-success m-2" type="button" data-toggle="collapse"
                                data-target="#preprocessingResults" aria-expanded="true"
                                aria-controls="preprocessingResults">
                            Pre-processing Results
                        </button>
                    </div>
                    <div class="col-lg-6" style="text-align: left;">
                        <a href="/" class="btn btn-secondary text-white m-2">Scan Again</a>
                    </div>
                </div>

                <div class="collapse m-1" id="preprocessingResults">
                    <div class="card-body col-12">
                        <div class="row m-2">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="row"><img src="{{ url_for('studentCard_img_process', filename=raw_image) }}"
                                                      class="raw-img p-3" style="text-align: center" alt=""></div>
                                <div class="row"><h5 style="text-align: center">Raw Image</h5></div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <hr>
                        <div class="row mt-2"><h2 style="color:#212931;text-align: center">Processed Images</h2></div>

                        <div class="row">
                            <div class="col-4">
                                {% if logo_image is defined %}
                                <div class="row"><img
                                        src="{{ url_for('studentCard_img_process', filename=logo_image) }}"
                                        class="threshold-img p-3" alt="" id="logo-img"></div>
                                <div class="row"><h5 style="text-align: center">Logo Detected</h5></div>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                {% if barcode_image is defined %}
                                <div class="row"><img
                                        src="{{ url_for('studentCard_img_process', filename=barcode_image) }}"
                                        class="threshold-img p-3" alt="" id="barcode-img"></div>
                                <div class="row"><h5 style="text-align: center">Barcode Detected</h5></div>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                {% if face_image is defined %}
                                <div class="row"><img
                                        src="{{ url_for('studentCard_img_process', filename=face_image) }}"
                                        class="detectedFace-img p-3" alt="" id="face-img"></div>
                                <div class="row"><h5 style="text-align: center">Face Detected</h5></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% if threshold_image is defined %}
                                <div class="row"><img
                                        src="{{ url_for('studentCard_img_process', filename=threshold_image) }}"
                                        class="threshold-img p-3" alt=""></div>
                                <div class="row"><h5 style="text-align: center">Threshold Image</h5></div>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                {% if boxes_text_image is defined %}
                                <div class="row"><img
                                        src="{{ url_for('studentCard_img_process', filename=boxes_text_image) }}"
                                        class="boxesText-img p-3" alt="" id="detected-text"></div>
                                <div class="row"><h5 style="text-align: center">Detected Texts</h5></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="/static/upload_img.js"></script>
{% endblock %}